[JENKINS-16106] Add Precedence: bulk header to notification emails

<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-16106] -->
<!-- [jira_issue_type=Improvement] -->
<!-- [reporter=wosc] -->
<!-- [author=wosc] -->
<!-- [jira_component=mailer-plugin] -->
<!-- [jira_issues_importer_version=1.4.1] -->

<p>To avoid triggering vacation autoresponders, it would be good citizenship to add the appropriate Precedence header to the notification emails Jenkins sends.</p>

---
<details><summary><i>Originally reported by <img align="left" width="20" src="https://raw.githubusercontent.com/jenkinsci/artifacts-from-jira-issues/refs/heads/main/avatars/wosc.png" title="wosc's avatar" /> <a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=wosc">wosc</a>, imported from: <a class="original-jira-link" href="https://issues.jenkins.io/browse/JENKINS-16106" target="_blank">Add Precedence: bulk header to notification emails</a></i></summary>
<i><ul>
<li><b>status</b>: Open
<li><b>priority</b>: Major
<li><b>component(s)</b>: mailer-plugin
<li><b>resolution</b>: Unresolved
<li><b>votes</b>: 3
<li><b>watchers</b>: 4
<li><b>imported</b>: 20251211-223321
</ul></i>
<details><summary>Raw content of original issue</summary>

<pre>
<p>To avoid triggering vacation autoresponders, it would be good citizenship to add the appropriate Precedence header to the notification emails Jenkins sends.</p></pre>
</details>
</details>

<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-16106] -->
<!-- [jira_comment_id=195525] -->
<!-- [comment_author=brianegge] -->
<details><summary><i><img align="left" width="20" src="https://raw.githubusercontent.com/jenkinsci/artifacts-from-jira-issues/refs/heads/main/avatars/brianegge.jpg" title="brianegge's avatar" /> brianegge:</i></summary>

<ul>
<li><i>Original <a class="original-jira-link" href="https://issues.jenkins.io/browse/JENKINS-16106?focusedId=195525&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-195525">comment link</a></i>
<li><details><summary><i>Raw content of original comment:</i></summary>

<pre>
<p>Additionally, one should have "Auto-Submitted: auto-generated" and "Return-Path: &lt;&gt;"</p>

<p><a href="http://tools.ietf.org/search/rfc3834" class="external-link" target="_blank" rel="nofollow noopener">http://tools.ietf.org/search/rfc3834</a></p>
</pre>
</details>

</ul>
</details>

<p>Additionally, one should have "Auto-Submitted: auto-generated" and "Return-Path: <>"</p>

<p><a href="http://tools.ietf.org/search/rfc3834" class="external-link" target="_blank" rel="nofollow noopener">http://tools.ietf.org/search/rfc3834</a></p>

<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-16106] -->
<!-- [jira_comment_id=197378] -->
<!-- [comment_author=dpa] -->
<details><summary><i>dpa:</i></summary>

<ul>
<li><i>Original <a class="original-jira-link" href="https://issues.jenkins.io/browse/JENKINS-16106?focusedId=197378&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-197378">comment link</a></i>
<li><details><summary><i>Raw content of original comment:</i></summary>

<pre>
<p>Setting the sender at SMTP level to &lt;&gt; is not a good idea, as the notifications about invalid email addresses, or rather addresses which were valid but are not valid anymore, will get lost.  As there will be no information which addresses got invalid, notifications to those addresses will be sent forever.  Some providers tend to mark sending servers as spammers, if they continuously insist to send emails to invalid addresses.  This could leave to marking the emails sent from the MTA behind Jenkins to valid addresses as spam, just because the sending server is spamming, according to the rule above.</p>

<p>The header</p>

<p>Auto-Submitted: auto-generated</p>

<p>is enough. The last paragraph of RFC 5230 "Sieve Email Filtering: Vacation Extension", section 4.6. "Restricting Replies to Automated Processes and Mailing Lists" explicitly suppresses sending out-of-office messages to emails containing the above header.</p>

</pre>
</details>

</ul>
</details>

<p>Setting the sender at SMTP level to <> is not a good idea, as the notifications about invalid email addresses, or rather addresses which were valid but are not valid anymore, will get lost.  As there will be no information which addresses got invalid, notifications to those addresses will be sent forever.  Some providers tend to mark sending servers as spammers, if they continuously insist to send emails to invalid addresses.  This could leave to marking the emails sent from the MTA behind Jenkins to valid addresses as spam, just because the sending server is spamming, according to the rule above.</p>

<p>The header</p>

<p>Auto-Submitted: auto-generated</p>

<p>is enough. The last paragraph of RFC 5230 "Sieve Email Filtering: Vacation Extension", section 4.6. "Restricting Replies to Automated Processes and Mailing Lists" explicitly suppresses sending out-of-office messages to emails containing the above header.</p>


<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-16106] -->
<!-- [jira_comment_id=197379] -->
<!-- [comment_author=dpa] -->
<details><summary><i>dpa:</i></summary>

<ul>
<li><i>Original <a class="original-jira-link" href="https://issues.jenkins.io/browse/JENKINS-16106?focusedId=197379&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-197379">comment link</a></i>
<li><details><summary><i>Raw content of original comment:</i></summary>

<pre>
<p>About the Return-Path header, as of RFC 5321, Section 4.4. Trace Information, page 58 says, among other things:</p>

<p> A message-originating SMTP system SHOULD NOT send a message that
 already contains a Return-path header field.</p>

<p>Effectively, the Return-Path MIME header is added by the Mail Delivery Agent, and not by the Mail Submission Agent.  Further information is spread over the whole section 4.4.</p>
</pre>
</details>

</ul>
</details>

<p>About the Return-Path header, as of RFC 5321, Section 4.4. Trace Information, page 58 says, among other things:</p>

<p> A message-originating SMTP system SHOULD NOT send a message that<br/>
 already contains a Return-path header field.</p>

<p>Effectively, the Return-Path MIME header is added by the Mail Delivery Agent, and not by the Mail Submission Agent.  Further information is spread over the whole section 4.4.</p>